fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
pydantic-core==2.18.4
pydantic-settings==2.3.3
motor==3.4.0
pymongo==4.7.3
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
email-validator==2.1.1
python-multipart==0.0.9
typing-extensions==4.12.2
bcrypt==4.1.3
langchain_core
groq
